# https://grafana.com/docs/grafana/latest/datasources/postgres/
apiVersion: 1

deleteDatasources:
  - name: Prometheus
    orgId: 1

datasources:
  - name: Prometheus
    type: prometheus
    orgId: 1
    uid: greenopsprometheus
    url: http://localhost:9090
